<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<header>
    <!-- Если пользователь вошёл в аккаунт -->
    {% if request.user.is_authenticated %}
    <a href="{% url 'usercompany:admin' %}">Админ панель</a>
    <a href="{% url 'usercompany:public_company' %}">Профиль</a>
    <a href="{% url 'mainapp:logout' %}">Выйти</a>
    <a href="{% url 'mainapp:chats' %}">Мои сообщения</a>
    {% else %}
    <!-- Если пользователь не вошёл в аккаунт -->
    <a href="{% url 'usercompany:company_register' %}">Стать продавцом</a>
    <a href="{% url 'mainapp:login' %}">Админ панель</a>
    <div class="user-type-select">
        <a href="{% url 'usercustomer:index_customer' %}">Как покупатель</a>
        <a href="{% url 'usercompany:index_company' %}">Как продавец</a>
    </div>
    {% endif %}
</header>
</body>
</html>