<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
    <div class="user-type-select">
        <a href="{% url 'usercustomer:index_customer' %}">Как покупатель</a>
        <a href="{% url 'usercompany:index_company' %}">Как продавец</a>
    </div>
    <a href="{% url 'products:cart_detail' %}">Корзина</a>
    <a href="{% url 'products:favorites' %}">Избраные</a>
    <button type="submit">Каталог</button>
    <img src="#" height="20" width="20">
    <input type="text" name="products-search" placeholder="Найти товар">

    {% if request.user.is_authenticated %}
    <a href="{% url 'usercustomer:user_customer' slug=request.user.slug %}">Личный кабинет</a>
    <a href="{% url 'usercustomer:public_customer' slug=request.user.slug %}">Профиль</a>
    <a href="{% url 'mainapp:logout' %}">Выйти</a>
    {% else %}
    <a href="{% url 'mainapp:login' %}">Войти</a>
    <a href="{% url 'mainapp:select_type_user' %}">регистрация</a>
    {% endif %}
</header>

<div class="category-list">
    {% for category in categories %}
        <div class="category-item-{{ category.name }}">
            <p class="category-name">{{ category.name }}</p>
            <div class="sub-categories">
                {% for sub_category in category.categories_below.all %}
                    <a>
                        <div class="sub-category-item-{{ sub_category.name }}">
                            <p class="sub-category-name">{{ sub_category.name }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

<div class="products-list">
    {% for product in products %}
        <a href="{% url 'products:product_detail' slug=product.slug %}">
            <div class="product-item-{{ product.name }}">
                <span class="product-name">{{ product.name }}</span>
                <img class="product-img" src="{{ product.photo.url }}" height="70" width="50">
                <strong class="product-price">{{ product.price }} ₽</strong>
            </div>
        </a>
    {% endfor %}
</div>

<div class="company-products-list">
    {% for company in companies %}
        <a class="company-products-link" onclick="window.location.href = redirect">
            <div class="company-bg-logo">
                <span class="company-name" data-objectid="{{ company.pk }}" id="c-name">
                    {{ company.user.username }}
                </span>
            </div>
        </a>
    {% endfor %}
</div>

<script>
let name = document.getElementById('c-name').getAttribute('data-objectid')
let redirect = 'http://' + window.location.host + '/products/products/' + '?companies=' + name

document.querySelector

</script>

</body>
</html>